.projects {
    min-height: 75vh;
    font-family: var(--font-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
}
.projects .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding-block: 4rem;
    padding-inline: 2rem;
}

.projects .container .projects-title {
    align-self: start;
}
.projects .container .projects-title .text {
    color: var(--white-color);
    font-size: 3.5rem;
    position: relative;
    word-spacing: -1rem;
}
.projects .container .projects-title .text:hover::before {
    width: 80%;
}
.projects .container .projects-title .text::before {
    content: "";
    position: absolute;
    bottom: -5px;
    width: 20%;
    height: 4px;
    background-color: var(--white-color);
    transition: 0.25s all ease;
}

.projects .container .card-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(275px, 0.25fr));
    justify-content: space-evenly;
    gap: 3rem 1.5rem;
}

@media only screen and (max-width: 880px) {
    .projects .container {
        gap: 2rem;
        padding: 2rem;
    }
    .projects .container .projects-title .text {
        color: var(--white-color);
        font-size: 2rem;
        position: relative;
        word-spacing: -1rem;
    }
}
